In [62]:
import pandas as pd

----------------- Reading Data ---------------

In [63]:
df = pd.read_csv('data.csv')
df

           fever  bodyPain  age  runnyNose  diffBreath  prob
0      99.497118         0   99          1           1     1
1      98.960085         0   30          1          -1     1
2     100.991823         0   22          1           1     0
3     100.478374         1    7          0           0     1
4     101.710680         0   33          1           1     1
...          ...       ...  ...        ...         ...   ...
1994  101.388926         1    8          1           1     1
1995  101.557058         1   67          0           0     1
1996   99.848401         0   25          0          -1     0
1997   98.642129         1   89          0           1     0
1998  101.238234         1   21          0           1     1

[1999 rows x 6 columns]

In [64]:
df['diffBreath'].value_counts()

 1    679
-1    678
 0    642
Name: diffBreath, dtype: int64

In [65]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,prob
count,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000
mean,100.014874,0.513757,51.265633,0.497749,0.000500,0.503752
std,1.155852,0.499936,29.234716,0.500120,0.824123,0.500111
min,98.000105,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,99.002003,0.000000,25.000000,0.000000,-1.000000,0.000000
50%,100.016289,1.000000,52.000000,0.000000,0.000000,1.000000
75%,101.004094,1.000000,76.000000,1.000000,1.000000,1.000000
max,101.995380,1.000000,100.000000,1.000000,1.000000,1.000000

---------------- Tain Test Splitting ---------------

In [66]:
import numpy as np

In [67]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data)*ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [68]:
train, test = data_split(df, 0.2)

In [69]:
train

           fever  bodyPain  age  runnyNose  diffBreath  prob
966    99.283512         1   94          0           1     1
240    98.518685         1   11          1          -1     0
812    98.164506         1   64          1           1     1
1824  100.012493         0   80          1          -1     0
1244   99.414648         1   47          0           0     0
...          ...       ...  ...        ...         ...   ...
1130  100.805624         1   33          1          -1     1
1294  100.102399         0   24          1           0     1
860   100.608076         1   30          0           0     1
1459  101.711206         1   87          0          -1     0
1126  100.523427         0   62          0           1     1

[1600 rows x 6 columns]

In [70]:
test

           fever  bodyPain  age  runnyNose  diffBreath  prob
256    98.842497         0   88          1          -1     1
352   101.907194         0   69          0           0     0
298    99.886584         1   84          0          -1     0
581    98.906540         0   43          0           1     1
1288  100.511678         0   37          1          -1     0
...          ...       ...  ...        ...         ...   ...
1616   98.266491         0   48          1           1     1
650    99.064871         1   56          0           0     1
1973  100.967625         0   87          1           1     0
261    98.637345         0   68          1           1     0
1305   99.348894         0   88          0           1     1

[399 rows x 6 columns]

In [71]:
X_train = train[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()
X_test = test[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()
Y_train = train[['prob']].to_numpy().reshape(1600,)
Y_test = test[['prob']].to_numpy().reshape(399,)

----------------- ML Data ---------------

In [72]:
from sklearn.linear_model import LogisticRegression

In [73]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression()

In [74]:
inputFeatures = [100,1,22,1,1]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [75]:
infProb

0.5194309382174166